body{
    background:url(/imagen/javascript.jpg);
}

h1{
    text-align: center;
    color: blueviolet;
    font-family: cursive;
    font-size: 70px;
    text-shadow: 2px 2px rgb(247, 247, 247);
    margin: 0% 0%;
}

nav{
    background-color: rgb(190, 139, 44);
}

.menu{
    text-align: center;
    margin: 0;
}

.menu li{
    display:inline-block;
    font-size: 27px;
    color: brown;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.menu a{
    padding: 20px;
    color: rgb(255, 240, 225);
    text-decoration: none;
    display: block;
    
}

.menu a:hover{
    background-color: rgb(156, 80, 122);
}

.parrafo{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(20, 10, 10);
    font-size: 25px;
    background-color: rgb(218, 211, 203);
    margin: 1%;
}

.parrafo1{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(20, 10, 10);
    font-size: 25px;
    background-color: rgb(218, 211, 203);
    margin: 10px 90px;
}

.parrafo2{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(20, 10, 10);
    font-size: 25px;
    background-color: rgb(218, 211, 203);
    margin: 1px 90px;
}

.imagen{
    text-align: center;

}

footer{
    text-align: center;
    color: rgb(221, 214, 214);
    background-color: brown;
    margin: 25px 500px ;
}
